<div class="table-container">
    <h1 class="text-gray-600 font-extrabold text-4xl text-center">Point Table CWC2023</h1>
    <br/>
    <table *ngIf="pointTable" class="shadow-lg text-center min-w-full border border-blue-300">
        <thead>
            <tr>
                <th *ngFor="let heading of pointTable[0]" class="py-2 px-4 border-b">{{heading}}</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of pointTable.slice(1); let i = index" [ngClass]="{
                'bg-blue-200 text-black':i<=4,
                'bg-yellow-300 text-black':i>4
            }" class="cursor-pointer hover:bg-blue-900 hover:text-white transition-all">
                <td *ngFor="let data of team; let j = index" [ngClass]="{
                    'font-bold':j==0
                }" class="py-2 px-4 border-b">{{data}}</td>
            </tr>
        </tbody>
    </table>
</div>