.refresh-button {
    background-color: #0373eb;
    color: white;
    padding: 4px 4px;
    border: none;
    border-radius: 50%;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 10px 0 0;
}

.refresh-button:hover {
    background-color: #0056b3;
}